.lsm-{
	&temporary__{
		&section{
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			color: $white;
			padding-top: calc(50vh - 300px);
			padding-bottom: calc(50vh - 300px);
		}
		&wrapper{
			width: 920px;
			height: 599px;
			background-position: center;
			background-size: cover;
			background-image: url('../images/temporary-page/rectangle.png');
			padding: 157px 0 0;
			margin: 0 auto;
		}
		&contacts{
			width: 100%;
			float: left;
			padding: 42px 0 0;
			&>div{
				width: 100%;
				float: left;
				position: relative;
				z-index: 1;
				&::after{
					content: '';
					display: block;
					position: absolute;
					pointer-events: none;
					z-index: -1;
					background-position: center;
					background-size: cover;
				}
			}
		}
		&logo{
			width: 100%;
			float: left;
			padding: 10px 0 0 50px;
		}
		&text{
			width: 100%;
			float: left;
			padding: 0 0 0 7px;
			h1{
				margin-bottom: 36px;
			}
		}
		&address{
			margin: 0 0 79px 0;
			&::after{
				width: 151px;
				height: 165px;
				background-image: url('../images/icons/address-icon.svg');
				top: -28px;
				left: 0;
			}
		}
		&phone{
			margin: 0 0 69px 0;
			a{
				text-decoration: none;
				color: $white;
			}
			h6{
				margin: 0 0 5px 0;
			}
			&::after{
				width: 160px;
				height: 41px;
				background-image: url('../images/icons/phone-icon.svg');
				bottom: -40px;
				left: 0;
			}
		}
		&social{
			&.gmail{
				margin: 0 0 54px 0;
			}
			a{
				display: block;
				color: $white;
				text-decoration: none;
				position: relative;
				background-position: center;
				background-size: cover;
				&.gmail{
					width: 160px;
					height: 95px;
					background-image: url('../images/icons/gmail-icon.svg');
					h4{
						top: 68px;
					}
				}
				&.facebook{
					width: 160px;
					height: 81px;
					background-image: url('../images/icons/facebook-icon.svg');
					h4{
						top: 68px;
					}
				}
				h4{
					margin: 0;
					position: absolute;
					left: 0;
					padding-bottom: 4px;
					overflow: hidden;
					&::after{
						content: '';
						width: 100%;
						height: 3px;
						display: block;
						background-color: $white;
						position: absolute;
						left: -100%;
						bottom: 0;
						-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
					}
				}
				&:hover{
					h4{
						&::after{
							left: 0;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(xl){
	.lsm-temporary__{
		&wrapper{
			width: 650px;
			height: 423px;
			padding: 125px 0 0;
		}
		&logo{
			padding: 0 0 0 30px
		}
		&text{
			h1{
				margin-bottom: 27px;
			}
		}
		&contacts{
			padding: 15px 0;
		}
		&address{
			margin: 0 0 45px 0;
			&::after{
				width: 126.5px;
				height: 138px;
				top: -25px;
			}
		}
		&phone{
			margin: 0 0 50px 0;
			&::after{
				width: 135px;
				height: 34.5px;
				bottom: -30px;
			}
		}
		&social{
			&.gmail{
				margin: 0 0 25px 0;
				a{
					&.gmail{
						width: 135px;
						height: 80px;
						h4{
							top: 58px;
						}
					}
				}
			}
			&.facebook{
				a{
					&.facebook{
						width: 135px;
						height: 67.5px;
						h4{
							top: 58px;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.lsm-temporary__{
		&section{
			padding: 35px 0 60px;
		}
		&wrapper{
			width: 290px;
			height: 492.5px;
			padding: 80px 0 0;
			background-image: url('../images/temporary-page/rectangle-mobile.png');
		}
		&logo{
			padding: 0 0 0 3px;
			text-align: center;
			margin: 0 0 18px 0;
			img{
				width: 183.5px;
				height: 141px;
			}
		}
		&text{
			padding: 0 0 0 54px;
		}
		&contacts{
			width: 135px;
			margin: 56px auto 0;
			float: none;
		}
		&address{
			margin: 0 0 56px;
		}
		&phone{
			margin: 0 0 61px 0;
		}
		&social.gmail{
			margin: 0 0 36px 0;
		}
	}
}