.container{
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
	&>*{
		padding-left: 15px;
		padding-right: 15px;
	}
}
main{
	width: 100%;
	float: left;
}
section{
	width: 100%;
	float: left;
}