body{
	font-family: $primary-font;
	font-weight: 400;
}
h1{
	font-size: 54px;
	line-height: 56px;
	font-weight: 800;
}
h3{
	font-size: 29px;
	line-height: 32px;
	font-weight: 800;
}
h4{
	font-size: 23px;
	font-weight: 800;
}
h5{
	font-weight: 800;
}
h6{
	font-size: 15px;
	line-height: 16px;
	font-weight: 800;
}
p{
	font-size: 15px;

}
img{
	max-width: 100%;
	height: auto;
}
@include media-breakpoint-down(xl){
	h1{
		font-size: 38px;
		line-height: 41px;
	}
	h3{
		font-size: 24px;
		line-height: 26px;
	}
	h4{
		font-size: 19px;
	}
	h6{
		font-size: 12.5px;
		line-height: 14px;
	}
	p{
		font-size: 8px;
		letter-spacing: 0.5px;
	}
}